<H1>Welcome to Library</H1>
<table>
	<th><strong>Home Page</strong></th>
	<tr><td></td><tr>
    <tr><td></td><tr>
    <tr><td><strong>Students</strong></td><tr>
    <tr><td><%= link_to 'Student Login', students_path %></td></tr>
	<tr><td></td><tr>
    <tr><td></td><tr>
	<tr><td><strong>Administrator</strong></td><tr>
    <tr><td><%= link_to 'Admin Login', admins_path %></td></tr>
</table>