<div>
	<h3>Name :</h3>
	<%= @user.name %>

	<h3>Email :</h3>
	<strong>
		<%= @user.email %>
	</strong>	

	<h3>Login :</h3>
	<strong>
		<%= @user.login %>
	</strong>

	<div>
		<%= link_to "back", users_path %>
	</div>

</div>

