<h1>Editing Admin</h1>

<strong>Note:</strong> Editing your profile will automatically sign you out. You will have to sign back in.
<br>
<br>

<%= render 'form', admin: @admin %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
